In [9]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
df = pd.read_csv("movies.csv")

In [3]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
df["genres"] = df["genres"].str.replace("|", " ")
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy
1,2,Jumanji (1995),Adventure Children Fantasy
2,3,Grumpier Old Men (1995),Comedy Romance
3,4,Waiting to Exhale (1995),Comedy Drama Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['genres'])
tfidf_matrix.shape

(34208, 23)

In [10]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
cosine_sim

array([[1.        , 0.81549699, 0.16228983, ..., 0.        , 0.        ,
        0.        ],
       [0.81549699, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.16228983, 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.31619632,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.31619632, 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]], shape=(34208, 34208))

In [11]:

indices = pd.Series(df.index, index=df["title"])

def recommend(title, cosine_sim=cosine_sim):
    idx = indices[title] 
    sim_scores = list(enumerate(cosine_sim[idx])) 
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)  
    sim_scores = sim_scores[1:11] 
    movie_indices = [i[0] for i in sim_scores]
    return df["title"].iloc[movie_indices]

In [12]:
recommend("Toy Story (1995)")

2210                                           Antz (1998)
3028                                    Toy Story 2 (1999)
3664        Adventures of Rocky and Bullwinkle, The (2000)
3923                      Emperor's New Groove, The (2000)
4791                                 Monsters, Inc. (2001)
10120    DuckTales: The Movie - Treasure of the Lost La...
10997                                     Wild, The (2006)
11883                               Shrek the Third (2007)
13356                       Tale of Despereaux, The (2008)
18317    Asterix and the Vikings (Ast√©rix et les Viking...
Name: title, dtype: object